// -------------------------------
// Buttons of any size and color
// -------------------------------
@import '../config'
$shadow-edge:         inset 0 -2px 0 rgba(#000, .18)
$shadow-blur:         inset 0 -25px 40px -20px rgba(#000, .4)
$shadow-active-light: inset 0 -25px 40px -20px rgba(#fff, .3)
$shadow-active-dark:  inset 0 1px 8px rgba(#000, .5)

.button
  background-color: #adadad
  border: none
  border-radius: 90px
  color: #fff
  cursor: pointer
  display: inline-block
  font: 16px/normal $base-font
  padding: 9px 30px 11px
  text-decoration: none
  text-shadow: 0 -1px 1px rgba(#000, .55)
  vertical-align: middle
  +box-shadow(($shadow-edge, $shadow-blur))
  +transition(.1s)
  +user-select(none)

  &:hover, &:focus
    background-color: #bdbdbd
    color: #fff

  &:active
    background-color: #797979
    +box-shadow(($shadow-active-dark, 0 2px 0 rgba(#fff, .6), $shadow-active-light))


  // ---------------------------
  // Sizes
  // ---------------------------
  &.is-small
    font-size: 14px
    padding: 5px 18px 7px


  // ---------------------------
  // Colors
  // ---------------------------
  &.is-firm
    background-color: #3b85c3
    &:hover, &:focus
      background-color: #479dcf
    &:active
      background-color: #295e89

  &.is-positive
    background-color: #7aaa72
    &:hover, &:focus
      background-color: #94bc8a
    &:active
      background-color: #567750

  &.is-negative
    background-color: #d72e2e
    &:hover, &:focus
      background-color: #df3737
    &:active
      background-color: #962020

  &.is-inverse
    background-color: #372f2b
    &:hover, &:focus
      background-color: #423834
    &:active
      background-color: #27211e


  // ---------------------------
  // Effects: without shadow | stroked
  // ---------------------------
  &.is-minimal
    text-shadow: none
    +box-shadow($shadow-blur)
    &:active
      +box-shadow(($shadow-active-dark, $shadow-active-light))

  &.is-stroke
    +box-shadow((inset 0 2px 0 rgba(#fff, .4), inset 0 1px 0 rgba(#000, .4), inset 0 0 0 1px rgba(#000, .2), $shadow-blur))
    &:active
      +box-shadow(($shadow-active-dark, 0 2px 0 rgba(#fff, .6), $shadow-active-light))


  // ---------------------------
  // Shapes
  // ---------------------------
  &.is-square
    border-radius: 0

  &.is-corner
    border-radius: 4px


// In Firefox button height is 2 pixels bigger
@-moz-document url-prefix()
  .button
    padding-bottom: 10px
    padding-top: 8px
    &.is-small
      padding-bottom: 6px
      padding-top: 4px

