// ----------------
// Text input
// ----------------
@import '../config'

.input,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='search']
  background-color: #fff
  border: 1px solid rgba(#000, .12)
  border-top-color: rgba(#000, .1)
  border-radius: 5px
  color: #404040
  display: inline-block
  float: none
  font: 500 15px/normal $base-font
  height: 38px
  line-height: 19px
  margin: 0 -4px 0 0
  padding: 9px 35px 9px 13px
  vertical-align: middle
  width: 100%
  +box-sizing
  +box-shadow(0 -1px 0 rgba(#000, .17))
  +transition(.1s)

  &:hover,
  &:focus
    border-color: #c6dfed
    +box-shadow(0 0 0 2px rgba(#89c7ef, .4))

  &:focus
    background-color: #f3f8fc


  // ------------------------
  // Colors
  // ------------------------
  &.is-negative
    background-color: #f7f0f2
    border-color: #efcac8
    +box-shadow(0 0 0 2px rgba(#ee9393, .4))

  &.is-positive
    background-color: #f1f7f0
    border-color: #bcd8bd
    +box-shadow(0 0 0 2px rgba(#6fb679, .4))

  &.is-notice
    background-color: #fafaf6
    border-color: #dfe1ca
    +box-shadow(0 0 0 2px rgba(#c6cb99, .4))


  // ------------------------
  // Effects
  // ------------------------
  &.is-minimal
    +box-shadow(none)

  &.is-inverse
    background-color: #a7a7a4
    color: #fff
    text-shadow: 0 1px 0 rgba(#000, .5)
    +box-shadow(0 -1px 0 rgba(#000, .5))
    &:hover,
    &:focus
      border-color: #ccc
      +box-shadow(0 0 0 2px rgba(#999, .4))
    &:focus
      background-color: #999


  // ------------------------
  // Shapes
  // ------------------------
  &.is-square
    border-radius: 0

  &.is-rounded
    border-radius: 90px


// ---------------------------
// Use holder to place icon
// inside text field
// ---------------------------
.input--holder
  position: relative


// ---------------------------
// Input icon is placed inside
// text field
// ---------------------------
.input--icon,
.input--button
  background-color: transparent
  background-position: center center
  background-repeat: no-repeat
  border: none
  border-radius: 3px
  cursor: pointer
  height: 30px
  position: absolute
  right: 4px
  top: 4px
  width: 30px
  z-index: 2

  // Shape
  &.is-rounded
    border-radius: 3px 50% 50% 3px

  // Icons
  &.is-search
    background-image: image-url('input/icon-search.png')

  &.is-date
    background-image: image-url('input/icon-date.png')

  &.is-error
    background-image: image-url('input/icon-error.png')

  &.is-success
    background-image: image-url('input/icon-success.png')


// Input button specific styles
.input--button
  background-color: #bfbfbf
  +box-shadow(inset 0 -15px 30px -10px rgba(#000, .2))

  &:hover,
  &:focus
    +box-shadow(0 1px 1px rgba(#000, .4))

  &:active
    +box-shadow(inset 0 2px 8px rgba(#000, .4))

  &.is-firm
    background-color: #3a84c2

