.App--block
  %h1 Bubbles
  .row.is-l
    .col1of2
      .bubble
        %h3.bubble--title Going good...
        %p
          The Nashville Sounds are a minor league baseball team of the Pacific Coast League
          and the Triple-A affiliate of the Milwaukee Brewers.
        .bubble--actions
          %a.button.is-firm{href: "#"} Subscribe
          %a.button{href: "#"} Cancel
        %a.bubble--close{href: "#"} &times;

    .col1of2
      .bubble.is-firm
        %h3.bubble--title Something important!
        %p
          The Nashville Sounds are a minor league baseball team of the Pacific Coast League
          and the Triple-A affiliate of the Milwaukee Brewers.
        .bubble--actions
          %a.button.is-firm{href: "#"} Subscribe
          %a.button{href: "#"} Cancel
        %a.bubble--close{href: "#"} &times;

    .col1of3
      .bubble.is-positive
        %h3.bubble--title Everything is Ok!
        %p
          The Nashville Sounds are a minor league baseball team of the Pacific Coast League
          and the Triple-A affiliate of the Milwaukee Brewers.
        .bubble--actions
          %a.button.is-firm{href: "#"} Okay
        %a.bubble--close{href: "#"} &times;

    .col1of3
      .bubble.is-negative
        %h3.bubble--title Everything is bad!
        %p
          The Nashville Sounds are a minor league baseball team of the Pacific Coast League
          and the Triple-A affiliate of the Milwaukee Brewers.
        .bubble--actions
          %a.button.is-firm{href: "#"} Okay
        %a.bubble--close{href: "#"} &times;

    .col1of3
      .bubble.is-notice
        %h3.bubble--title Note that
        %p
          The Nashville Sounds are a minor league baseball team of the Pacific Coast League
          and the Triple-A affiliate of the Milwaukee Brewers.
        .bubble--actions
          %a.button.is-firm{href: "#"} Okay
        %a.bubble--close{href: "#"} &times;

