.App--block
  %h1 One class fits multiple tags
  .button.mrs Div
  %span.button.mrs Span
  %a.button.mrs{href: "#"} Link
  %input.button.mrs{type: "submit", value: "Input"}
  %button.button Button

.App--block
  %h1 Size
  .button.mrs Default
  .button.is-small.mrs Small

.App--block
  %h1 Colors
  .button.mrs Default
  .button.is-firm.mrs Firm
  .button.is-positive.mrs Positive
  .button.is-negative.mrs Negative
  .button.is-inverse.mrs Inverse

.App--block
  %h1 Effects
  .button.mrs Default
  .button.is-minimal.mrs Minimal
  .button.is-stroke.mrs Stroke

.App--block
  %h1 Shapes
  .button.mrs Default
  .button.is-square.mrs Square
  .button.is-corner.mrs Corner

