.App--block
  %h1 Checkboxes
  %span.checkbox
    %input.checkbox--input{type: "checkbox"}
    Unchecked

  %span.checkbox
    %input.checkbox--input{type: "checkbox", checked: "checked"}
    Checked

  %span.checkbox
    %input.checkbox--input{type: "checkbox", disabled: "disabled"}
    Unchecked

  %span.checkbox
    %input.checkbox--input{type: "checkbox", checked: "checked", disabled: "disabled"}
    Checked

