.App--block
  %h1 Commutators
  .row.is-l.mbl
    .col1of4
      .commutator.is-on
        .commutator-slider.is-active
          ON
          .commutator-slider.is-inactive
            OFF

    .col1of4
      .commutator.is-on.is-positive
        .commutator-slider.is-active
          ON
          .commutator-slider.is-inactive
            OFF

    .col1of4
      .commutator.is-on.is-negative
        .commutator-slider.is-active
          ON
          .commutator-slider.is-inactive
            OFF

    .col1of4
      .commutator.is-on.is-warning
        .commutator-slider.is-active
          ON
          .commutator-slider.is-inactive
            OFF

