.App--block
  .nivo-slider-holder
    .nivoSlider.js-gallery
      %img{src: "/assets/gallery/pics/toystory.jpg", title: "Killer7 is an action-adventure video game developed by Grasshopper Manufacture"}
      %img{src: "/assets/gallery/pics/up.jpg", title: "This is an example of a caption"}
      %img{src: "/assets/gallery/pics/walle.jpg", title: "Killer7 is an action-adventure video game developed by Grasshopper Manufacture"}
      %img{src: "/assets/gallery/pics/nemo.jpg", title: "Test Nemo caption"}

