.App--block
  .header
    %a.header--logo{href: "#"}
      %img{src: "/assets/header/logo.png"}

    %ul.header--menu
      %li
        %a{href: "#"} Associate Degree
      %li
        %a{href: "#"} Colleges
      %li.header--dropdown
        %a{href: "#"} Stampede

    %ul.header--menu.right
      %li.header--dropdown
        %a{href: "#"} The Bricks

  .header.is-firm
    %a.header--logo{href: "#"}
      %img{src: "/assets/header/logo.png"}

    %ul.header--menu
      %li
        %a{href: "#"} Associate Degree
      %li
        %a{href: "#"} Colleges
      %li.header--dropdown
        %a{href: "#"} Stampede

    %ul.header--menu.right
      %li.header--dropdown
        %a{href: "#"} The Bricks

  .header.is-minimal
    %a.header--logo{href: "#"}
      %img{src: "/assets/header/logo-firm.png"}

    %ul.header--menu
      %li
        %a{href: "#"} Associate Degree
      %li
        %a{href: "#"} Colleges
      %li.header--dropdown
        %a{href: "#"} Stampede

    %ul.header--menu.right
      %li.header--dropdown
        %a{href: "#"} The Bricks

  .header.is-inverse
    %a.header--logo{href: "#"}
      %img{src: "/assets/header/logo.png"}

    %ul.header--menu
      %li
        %a{href: "#"} Associate Degree
      %li
        %a{href: "#"} Colleges
      %li.header--dropdown
        %a{href: "#"} Stampede

    %ul.header--menu.right
      %li.header--dropdown
        %a{href: "#"} The Bricks

