.App--block
  %h1 Text inputs
  .form--row.is-m.mbl
    .col1of6
      .input--holder
        %input{type: "text", value: "Default"}
        %input.input--button.is-search{type: "submit", value: ""}
    .col1of6
      .input--holder
        %input{type: "text", value: "Default"}
        %input.input--button.is-firm.is-search{type: "submit", value: ""}
    .col1of6
      .input--holder
        %input.is-rounded{type: "text", value: "Rounded"}
        %input.input--button.is-rounded.is-search{type: "submit", value: ""}
    .col1of6
      .input--holder
        %input{type: "text", value: "Default"}
        %input.input--icon.is-date{type: "submit", value: ""}
    .col1of6
      .input--holder
        %input{type: "text", value: "Default"}
        %input.input--icon.is-error{type: "submit", value: ""}
    .col1of6
      .input--holder
        %input{type: "text", value: "Default"}
        %input.input--icon.is-success{type: "submit", value: ""}

  .form--row.is-l
    .col1of3
      %input.is-negative{type: "text", value: "Negative"}
    .col1of3
      %input.is-positive{type: "text", value: "Positive"}
    .col1of3
      %input.is-notice{type: "text", value: "Notice"}

.App--block
  .row.is-m
    .col1of2
      %h1 Shapes
      .form--row
        %input{type: "text", value: "Default"}
      .form--row
        %input.is-square{type: "text", value: "Square"}
      .form--row
        %input.is-rounded{type: "text", value: "Rounded"}

    .col1of2
      %h1 Effects
      .form--row
        %input{type: "text", value: "Default"}
      .form--row
        %input.is-minimal{type: "text", value: "Minimal"}
      .form--row
        %input.is-inverse{type: "text", value: "Inverse"}

.App--block
  %h1 Flexible grids
  .form--row
    %input{type: "text", value: "100%"}

  .form--row.is-m
    .col1of2
      %input{type: "text", value: "1/2"}
    .col1of2
      %input{type: "text", value: "1/2"}

  .form--row.is-m
    .col1of3
      %input{type: "text", value: "1/3"}
    .col1of3
      %input{type: "text", value: "1/3"}
    .col1of3.right
      %input{type: "text", value: "1/3"}

  .form--row.is-m
    .col1of4
      %input{type: "text", value: "1/4"}
    .col1of4
      %input{type: "text", value: "1/4"}
    .col1of4
      %input{type: "text", value: "1/4"}
    .col1of4
      %input{type: "text", value: "1/4"}

  .form--row.is-m
    .col1of5
      %input{type: "text", value: "1/5"}
    .col1of5
      %input{type: "text", value: "1/5"}
    .col1of5
      %input{type: "text", value: "1/5"}
    .col1of5
      %input{type: "text", value: "1/5"}
    .col1of5
      %input{type: "text", value: "1/5"}

  .form--row.is-m
    .col1of6
      %input{type: "text", value: "1/6"}
    .col1of6
      %input{type: "text", value: "1/6"}
    .col1of6
      %input{type: "text", value: "1/6"}
    .col1of6
      %input{type: "text", value: "1/6"}
    .col1of6
      %input{type: "text", value: "1/6"}
    .col1of6.right
      %input{type: "text", value: "1/6"}

