.App--block
  %h1 Labels
  %span.label Default
  %a.label.is-firm{href: "#"} Firm
  %a.label.is-positive{href: "#"} Positive
  %a.label.is-negative{href: "#"} Negative
  %a.label.is-inverse{href: "#"} Inverse
  %a.label.is-notice{href: "#"} Notice
  %a.label.is-pale{href: "#"} Pale

.App--block
  %h1 Badges
  %span.badge Default
  %a.badge.is-firm{href: "#"} Firm
  %a.badge.is-positive{href: "#"} Positive
  %a.badge.is-negative{href: "#"} Negative
  %a.badge.is-inverse{href: "#"} Inverse
  %a.badge.is-notice{href: "#"} Notice
  %a.badge.is-pale{href: "#"} Pale

