.App--block
  %h1 Menus

  .row.is-l
    .col1of3
      %ul.menu
        %li
          %a.menu--link.is-active{href: "#"}
            %span.menu--count 845
            Audio
        %li
          %a.menu--link{href: "#"}
            %span.menu--count 23
            Music
        %li
          %a.menu--link{href: "#"}
            %span.menu--count 634
            Audio Books
        %li
          %a.menu--link{href: "#"}
            %span.menu--count 876
            Sound Clips

    .col1of3
      %ul.menu.is-warning
        %li
          %a.menu--link.is-active{href: "#"}
            %span.menu--count 845
            Audio
        %li
          %a.menu--link{href: "#"}
            %span.menu--count 23
            Music
        %li
          %a.menu--link{href: "#"}
            %span.menu--count 634
            Audio Books
        %li
          %a.menu--link{href: "#"}
            %span.menu--count 876
            Sound Clips

    .col1of3
      %ul.menu.is-positive
        %li
          %a.menu--link.is-active{href: "#"}
            %span.menu--count 845
            Audio
        %li
          %a.menu--link{href: "#"}
            %span.menu--count 23
            Music
        %li
          %a.menu--link{href: "#"}
            %span.menu--count 634
            Audio Books
        %li
          %a.menu--link{href: "#"}
            %span.menu--count 876
            Sound Clips

    .col1of2
      %ul.menu.is-negative
        %li
          %a.menu--link.is-active{href: "#"}
            %span.menu--count 845
            Audio
        %li
          %a.menu--link{href: "#"}
            %span.menu--count 23
            Music
        %li
          %a.menu--link{href: "#"}
            %span.menu--count 634
            Audio Books
        %li
          %a.menu--link{href: "#"}
            %span.menu--count 876
            Sound Clips

    .col1of2
      .row.is-l
        .col1of2
          %ul.menu.is-minimal
            %li
              %a.menu--link.is-active{href: "#"}
                %span.menu--count 845
                Audio
            %li
              %a.menu--link{href: "#"}
                %span.menu--count 23
                Music
            %li
              %a.menu--link{href: "#"}
                %span.menu--count 634
                Audio Books
            %li
              %a.menu--link{href: "#"}
                %span.menu--count 876
                Sound Clips

        .col1of2
          %ul.menu.is-minimal.is-positive
            %li
              %a.menu--link.is-active{href: "#"}
                %span.menu--count 845
                Audio
            %li
              %a.menu--link{href: "#"}
                %span.menu--count 23
                Music
            %li
              %a.menu--link{href: "#"}
                %span.menu--count 634
                Audio Books
            %li
              %a.menu--link{href: "#"}
                %span.menu--count 876
                Sound Clips

