.App--block
  %h1.mbl Pagination

  .row.is-l
    .col1of2
      %ul.text-pagination
        %li.is-first.is-inactive
          %a{href: "#"} First

        %li.is-prev.is-inactive
          %a{href: "#"} Previous

        %li.is-caption
          Page 1 of 25

        %li.is-next
          %a{href: "#"} Next

        %li.is-last
          %a{href: "#"} Last

