.App--block
  %h1.mbl Pagination

  // Text pagination
  %ul.text-pagination
    %li.is-first.is-inactive
      %a{href: "#"} First

    %li.is-prev.is-inactive
      %a{href: "#"} Previous

    %li.is-caption
      Page 1 of 25

    %li.is-next
      %a{href: "#"} Next

    %li.is-last
      %a{href: "#"} Last

  // Mini pagination
  %ul.mini-pagination
    %li.is-prev.is-inactive
      %a{href: "#"} Prev

    %li.is-active
      %a{href: "#"} 1

    %li
      %a{href: "#"} 2

    %li
      %a{href: "#"} 3

    %li
      %a{href: "#"} 4

    %li
      %a{href: "#"} 5

    %li.is-next
      %a{href: "#"} Next

  // Panel pagination
  %ul.panel-pagination
    %li.is-prev.is-inactive
      %a{href: "#"} Prev

    %li.is-active
      %a{href: "#"} 1

    %li
      %a{href: "#"} 2

    %li
      %a{href: "#"} 3

    %li
      %a{href: "#"} 4

    %li
      %a{href: "#"} 5

    %li
      %a{href: "#"} 6

    %li
      %a{href: "#"} 7

    %li
      %a{href: "#"} 8

    %li.is-next
      %a{href: "#"} Next


