.App--block
  %h1 Selects
  .form--row.is-l.mbl
    .col1of3
      %select.js-select
        %option
        %option{value: "Aaliyah"} Aaliyah
        %option{value: "Barbara"} Barbara
        %option{value: "Azura"} Azura
        %option{value: "Babs"} Babs
        %option{value: "Fox"} Fox

    .col1of3
      %select.js-select
        %option
        %option{value: "Aaliyah"} Aaliyah
        %option{value: "Barbara"} Barbara
        %option{value: "Azura"} Azura
        %option{value: "Babs"} Babs
        %option{value: "Fox"} Fox

    .col1of3
      %select.js-select
        %option
        %option{value: "Aaliyah"} Aaliyah
        %option{value: "Barbara"} Barbara
        %option{value: "Azura"} Azura
        %option{value: "Babs"} Babs
        %option{value: "Fox"} Fox

