.App--block
  %h1 Tabs

  .row.is-l
    .col1of2.mbl
      %ul.tabs
        %li
          %a.tabs--link.is-active{href: "#"} New York
        %li
          %a.tabs--link{href: "#"} Los Angeles
        %li
          %a.tabs--link{href: "#"} San Francisco

    .col1of2.mbl
      %ul.tabs.is-inverse
        %li
          %a.tabs--link.is-active{href: "#"} New York
        %li
          %a.tabs--link{href: "#"} Los Angeles
        %li
          %a.tabs--link{href: "#"} San Francisco

    .col1of2.mbl
      %ul.tabs.is-minimal
        %li
          %a.tabs--link.is-active{href: "#"} New York
        %li
          %a.tabs--link{href: "#"} Los Angeles
        %li
          %a.tabs--link{href: "#"} San Francisco

    .col1of2.mbl
      %ul.tabs.is-firm
        %li
          %a.tabs--link.is-active{href: "#"} New York
        %li
          %a.tabs--link{href: "#"} Los Angeles
        %li
          %a.tabs--link{href: "#"} San Francisco

    .col1of2.mbl
      %ul.tabs.is-positive
        %li
          %a.tabs--link.is-active{href: "#"} New York
        %li
          %a.tabs--link{href: "#"} Los Angeles
        %li
          %a.tabs--link{href: "#"} San Francisco

    .col1of2.mbl
      %ul.tabs.is-negative
        %li
          %a.tabs--link.is-active{href: "#"} New York
        %li
          %a.tabs--link{href: "#"} Los Angeles
        %li
          %a.tabs--link{href: "#"} San Francisco

