.App--block
  %h1.mbl Widgets

  .row.is-l
    .col1of3
      .widget
        .widget--icon
          = image_tag "widget/icon-envelope.png"

        .widget--data
          %h3.widget--title Chicago
          %p The Cross of Gold speech was delivered by William Jennings Bryan, a former congressman from Nebraska.

    .col1of3
      .widget
        .widget--icon
          = image_tag "widget/icon-star.png"

        .widget--data
          %h3.widget--title Los Angeles
          %p The Dallas-Fort Worth metroplex is the largest metropolitan area in the American South and fourth-largest.

    .col1of3
      .widget
        .widget--icon
          = image_tag "widget/icon-gear.png"

        .widget--data
          %h3.widget--title New York
          %p The city is the largest economic center of the 12-county Dallas–Fort Worth–Arlington metropolitan area.

