.App--block
  %h1 Widgets

  .row.is-l
    .col1of2
      .widget
        .widget--icon
          = image_tag "widget/icon-envelope.png"

        .widget--data
          %h3.widget--title
          %p The Cross of Gold speech was delivered by William Jennings Bryan, a former congressman from Nebraska.

