.pvl.mtl
  %h1.mbl One class fits multiple tags
  .button.mrs Div
  %span.button.mrs Span
  %a.button.mrs{href: "#"} Link
  %input.button.mrs{type: "submit", value: "Input"}
  %button.button Button

.pvl
  %h1.mbl Colors
  .button.mrs Default
  .button.is-firm.mrs Firm
  .button.is-negative.mrs Negative
  .button.is-inverse.mrs Inverse
  .button.is-positive.mrs Positive

.pvl
  %h1.mbl Effects
  .button.mrs Default
  .button.is-minimal.mrs Minimal
  .button.is-stroke.mrs Stroke

.pvl
  %h1.mbl Shapes
  .button.mrs Default
  .button.is-square.mrs Square
  .button.is-corner.mrs Corner

