.App--block
  %h1 One class fits multiple tags
  .button.mrs Div
  %span.button.mrs Span
  %a.button.mrs{href: "#"} Link
  %input.button.mrs{type: "submit", value: "Input"}
  %button.button Button

.App--block
  %h1 Size
  .button.mrs Default
  .button.is-small.mrs Small

.App--block
  %h1 Colors
  .button.mrs Default
  .button.is-firm.mrs Firm
  .button.is-positive.mrs Positive
  .button.is-negative.mrs Negative
  .button.is-inverse.mrs Inverse

.App--block
  %h1 Effects
  .button.mrs Default
  .button.is-minimal.mrs Minimal
  .button.is-stroke.mrs Stroke

.App--block
  %h1 Shapes
  .button.mrs Default
  .button.is-square.mrs Square
  .button.is-corner.mrs Corner

.App--block
  %h1 Text inputs
  .form--row.is-m.mbl
    .col1of6
      .input--holder
        %input{type: "text", value: "Default"}
        %input.input--button.is-search{type: "submit", value: ""}
    .col1of6
      .input--holder
        %input{type: "text", value: "Default"}
        %input.input--button.is-firm.is-search{type: "submit", value: ""}
    .col1of6
      .input--holder
        %input.is-rounded{type: "text", value: "Rounded"}
        %input.input--button.is-rounded.is-search{type: "submit", value: ""}
    .col1of6
      .input--holder
        %input{type: "text", value: "Default"}
        %input.input--icon.is-date{type: "submit", value: ""}
    .col1of6
      .input--holder
        %input{type: "text", value: "Default"}
        %input.input--icon.is-error{type: "submit", value: ""}
    .col1of6
      .input--holder
        %input{type: "text", value: "Default"}
        %input.input--icon.is-success{type: "submit", value: ""}

  .form--row.is-l
    .col1of3
      %input.is-negative{type: "text", value: "Negative"}
    .col1of3
      %input.is-positive{type: "text", value: "Positive"}
    .col1of3
      %input.is-notice{type: "text", value: "Notice"}

.App--block
  .row.is-m
    .col1of2
      %h1 Shapes
      .form--row
        %input{type: "text", value: "Default"}
      .form--row
        %input.is-square{type: "text", value: "Square"}
      .form--row
        %input.is-rounded{type: "text", value: "Rounded"}

    .col1of2
      %h1 Effects
      .form--row
        %input{type: "text", value: "Default"}
      .form--row
        %input.is-minimal{type: "text", value: "Minimal"}
      .form--row
        %input.is-inverse{type: "text", value: "Inverse"}

.App--block
  %h1 Flexible grids
  .form--row
    %input{type: "text", value: "100%"}

  .form--row.is-m
    .col1of2
      %input{type: "text", value: "1/2"}
    .col1of2
      %input{type: "text", value: "1/2"}

  .form--row.is-m
    .col1of3
      %input{type: "text", value: "1/3"}
    .col1of3
      %input{type: "text", value: "1/3"}
    .col1of3.right
      %input{type: "text", value: "1/3"}

  .form--row.is-m
    .col1of4
      %input{type: "text", value: "1/4"}
    .col1of4
      %input{type: "text", value: "1/4"}
    .col1of4
      %input{type: "text", value: "1/4"}
    .col1of4
      %input{type: "text", value: "1/4"}

  .form--row.is-m
    .col1of5
      %input{type: "text", value: "1/5"}
    .col1of5
      %input{type: "text", value: "1/5"}
    .col1of5
      %input{type: "text", value: "1/5"}
    .col1of5
      %input{type: "text", value: "1/5"}
    .col1of5
      %input{type: "text", value: "1/5"}

  .form--row.is-m
    .col1of6
      %input{type: "text", value: "1/6"}
    .col1of6
      %input{type: "text", value: "1/6"}
    .col1of6
      %input{type: "text", value: "1/6"}
    .col1of6
      %input{type: "text", value: "1/6"}
    .col1of6
      %input{type: "text", value: "1/6"}
    .col1of6.right
      %input{type: "text", value: "1/6"}

.App--block
  %h1 Labels
  %span.label Default
  %a.label.is-firm{href: "#"} Firm
  %a.label.is-positive{href: "#"} Positive
  %a.label.is-negative{href: "#"} Negative
  %a.label.is-inverse{href: "#"} Inverse
  %a.label.is-notice{href: "#"} Notice
  %a.label.is-pale{href: "#"} Pale

.App--block
  %h1 Badges
  %span.badge Default
  %a.badge.is-firm{href: "#"} Firm
  %a.badge.is-positive{href: "#"} Positive
  %a.badge.is-negative{href: "#"} Negative
  %a.badge.is-inverse{href: "#"} Inverse
  %a.badge.is-notice{href: "#"} Notice
  %a.badge.is-pale{href: "#"} Pale

.App--block
  %h1 Bubbles
  .row.is-l
    .col1of2
      .bubble
        %h3.bubble--title Everything is Ok!
        %p
          The Nashville Sounds are a minor league baseball team of the Pacific Coast League
          and the Triple-A affiliate of the Milwaukee Brewers.
        .bubble--actions
          %a.button.is-firm{href: "#"} Subscribe
          %a.button{href: "#"} Cancel

    .col1of2
      .bubble
        %h3.bubble--title Everything is Ok!
        %p
          The Nashville Sounds are a minor league baseball team of the Pacific Coast League
          and the Triple-A affiliate of the Milwaukee Brewers.
        .bubble--actions
          %a.button.is-firm{href: "#"} Subscribe
          %a.button{href: "#"} Cancel

